#example1 {
    border: 4px solid rgb(68, 0, 255);
    padding: 15px;
    border-bottom-color: 25px;
  }



.flex-container div {
  display:inline-table;
  flex-wrap: wrap;
  background-color: #01039cee;
  width: 290px;
  height: 290px;
  font-size: 15px;
  justify-content: center;
  align-content:center;
}
#caixa:hover{
  background-color:rgb(255, 251, 251);
 color: rgb(19, 15, 15);
}
#um{
  height: 135px;
  width: 135px;
  
}
#dois{
  height: 134px;
  width: 134px;
}
#tres{
  height: 134px;
  width: 134px;
}








