*{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
    color: rgb(240, 235, 235);
}
body{
    font-family:cursive
}
ul{
    list-style: none;
}
img{
    width: 40px;
}
input[type="checkbox"]
{
    display: none;
}
nav{
    background-color: rgba(17, 2, 2, 0.856);
    width: 350px;
    height: 100%;
    left: -350px;
    position: absolute;
    transition: all .5s;
}
input[type="checkbox"]:checked ~ nav 
{
    transform: translateX(350px);
}
ul{
   
    top: 100px;;
    position: absolute;
    width: 100%;
}
a{
    display: block;
    padding: 20px 5px;
    color: rgb(255, 251, 251);
}
a:hover{
    background-color: rgba(3, 3, 139, 0.877);
    color: rgb(181, 177, 197);
   
}

label{
    padding: 15px ;
    position: absolute;
    z-index: 1;
    
}